<!DOCTYPE html>
<html>
<head>
    <title>Student Records</title>
    <style>
        /* Add CSS styles to make the table more attractive */
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Student Records</h1>
    <table>
        <thead>
            <tr>
            
                <th>Name</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Nationality</th>
                <th>Email</th>
                <th>Institute</th>
                <th>Blood Group</th>


            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr> 
                    <td>{{ student.name }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.dob }}</td>
                    <td>{{ student.nationality }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.institute }}</td>
                    <td>{{ student.blood_group }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
